.someClass {

}

.affair {
    display: flex;
}

.item {
    width: 100px;
    margin: 10px;
}

.itemButton {
    margin: 10px;
    width: 100px;
    background-color: #ef5555;
    border-radius: 10px
}

.filterButton {
    color:  black;
    background-color: #39b8fd;
    margin: 10px;
    width: 70px;
    border-radius: 10px;
    outline: none;
}

.filterButtonActive {
    color:  black;
    background-color: rgba(57, 184, 253, 0.27);
    margin: 10px;
    width: 70px;
    border-radius: 10px;
    outline: none;
}

.high {
    color: red;
}

.middle {
    color: green;
}

.low {
    color: orange;
}

