.superInput {
    border: 1px solid black;
    border-radius: 5px;
    background: #8be8e1;
}

.errorInput {
    border: 1px solid red;
    border-radius: 5px;
    background: #8be8e1;
}

.error {
    color: red;
}